# dependencies
/node_modules
client/node_modules
server/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
client/.next/
/out/

# production
/build

# logs
*.log
server/logs/

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
